<a href="https://colab.research.google.com/github/MarioKingII/CSE210.1/blob/main/Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import XGBoost, other libraries, and read the data

In [ ]:
# Import XGBoost and other libraries
import pandas as pd
import altair as alt
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
import xgboost as xgb
from sklearn import linear_model
# Read Data
data = pd.read_csv("snp500_history.csv")

In [ ]:
data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1927-12-30 00:00:00-05:00,17.66,17.66,17.66,17.66,0.0,0.0,0.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1928-01-03 00:00:00-05:00,17.76,17.76,17.76,17.76,0.0,0.0,0.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Clean up the data

In [ ]:

data = data[data['Volume'] != 0]
data.drop('Dividends', axis=1, inplace=True)
data.drop('Stock Splits', axis=1, inplace=True)

data['Date'] = pd.to_datetime(data['Date'], utc=True)
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

data = data[data['Year'] >= 1983]

data['Next Year Close'] = data['Close'].shift(-252)

data.dropna(inplace=True)


data.sort_values('Date', inplace=True)

In [ ]:
print(data)
data.to_csv(r"modified_data.csv", index=False)

                           Date         Open         High          Low  \
27563 1983-01-03 05:00:00+00:00   140.649994   141.330002   138.199997
27565 1983-01-04 05:00:00+00:00   138.330002   141.360001   138.080002
27567 1983-01-05 05:00:00+00:00   141.350006   142.600006   141.149994
27569 1983-01-06 05:00:00+00:00   142.009995   145.770004   142.009995
27571 1983-01-07 05:00:00+00:00   145.270004   146.460007   145.149994
...                         ...          ...          ...          ...
47427 2022-05-25 04:00:00+00:00  3929.590088  3999.330078  3925.030029
47429 2022-05-26 04:00:00+00:00  3984.600098  4075.139893  3984.600098
47431 2022-05-27 04:00:00+00:00  4077.429932  4158.490234  4077.429932
47433 2022-05-31 04:00:00+00:00  4151.089844  4168.339844  4104.879883
47435 2022-06-01 04:00:00+00:00  4149.779785  4166.540039  4073.850098

             Close        Volume    Year  Month   Day  Next Year Close
27563   138.339996  5.908000e+07  1983.0    1.0   3.0       164.929993
27565   141.360001  7.553000e+07  1983.0    1.0   4.0       164.039993
27567   141.960007  9.539000e+07  1983.0    1.0   5.0       166.779999
27569   145.270004  1.294100e+08  1983.0    1.0   6.0       168.809998
27571   145.179993  1.272900e+08  1983.0    1.0   7.0       169.279999
...            ...           ...     ...    ...   ...              ...
47427  3978.729980  4.802560e+09  2022.0    5.0  25.0      4205.450195
47429  4057.840088  4.709970e+09  2022.0    5.0  26.0      4205.520020
47431  4158.240234  4.375620e+09  2022.0    5.0  27.0      4179.830078
47433  4132.149902  6.822640e+09  2022.0    5.0  31.0      4221.020020
47435  4101.229980  4.531800e+09  2022.0    6.0   1.0      4282.370117

[9937 rows x 10 columns]

In [ ]:
# Split Data into X and Y
X = data.drop(['Date', 'Next Year Close', 'Year', 'Month', 'Day'], axis=1)

# Log transformation for Y
log_target = np.log(data["Next Year Close"])
y = log_target

In [ ]:
# Split Data into Train and Test Sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20)

y_train.isnull().sum()
#Fit Model to Training data
model = xgb.XGBRegressor(n_estimators=1000,
                         max_depth=7,
                         eta=0.1,
                         subsample=0.7,
                         colsample_bytree=0.8)

model.fit(X_train, y_train)

# Make Predicitons
y_pred = model.predict(X_test)

In [ ]:
nan_values = data[data['Next Year Close'].isnull()]
print(nan_values)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume, Year, Month, Day, Next Year Close]
Index: []

In [ ]:

exp_test = np.exp(y_test)
exp_pred = np.exp(y_pred)

rmse = mean_squared_error(exp_test, exp_pred, squared=True)
print("Mean Squared Error:", rmse)

root = mean_squared_error(exp_test, exp_pred, squared=False)
print("Root Mean Squared Error:", root)

r2 = r2_score(exp_test, exp_pred)
print("R-squared score:", r2)

Mean Squared Error: 21675.10585205059
Root Mean Squared Error: 147.22467813532685
R-squared score: 0.9814348336289389

In [ ]:


prediction_data = pd.read_csv("Prediction_data.csv")
prediction_data_copy = prediction_data.copy()

# Drop the unnecessary columns
prediction_data.drop(['Date'], axis=1, inplace=True)
prediction_data.drop(['Month'], axis=1, inplace=True)
prediction_data.drop(['Day'], axis=1, inplace=True)
prediction_data.drop(['Year'], axis=1, inplace=True)

prediction_data.head()

          Open         High          Low        Close      Volume
0  4095.409912  4177.509766  4074.370117  4176.819824  4405790000
1  4137.569824  4142.669922  4098.669922  4108.540039  3711110000
2  4134.720215  4168.779785  4109.180176  4121.430176  4332700000
3  4096.470215  4164.859863  4080.189941  4160.680176  4248210000
4  4147.120117  4160.140137  4107.200195  4115.770020  4159470000

In [ ]:
# Make predictions on the new data
predicted_close = model.predict(prediction_data)

# Convert the predicted log-transformed values back to the original scale
predicted_close_original_scale = np.exp(predicted_close)

print("Predicted next year closing prices:")
for i, price in enumerate(predicted_close_original_scale):
    print(f"Date: {prediction_data_copy['Date'][i]}, Predicted Next Year Close: {price:.2f}")

Predicted next year closing prices:
Date: 2022-06-02 04:00:00+00:00, Predicted Next Year Close: 4160.75
Date: 2022-06-03 04:00:00+00:00, Predicted Next Year Close: 4334.17
Date: 2022-06-06 04:00:00+00:00, Predicted Next Year Close: 4182.87
Date: 2022-06-07 04:00:00+00:00, Predicted Next Year Close: 4058.14
Date: 2022-06-08 04:00:00+00:00, Predicted Next Year Close: 4235.31
Date: 2022-06-09 04:00:00+00:00, Predicted Next Year Close: 4246.70
Date: 2022-06-10 04:00:00+00:00, Predicted Next Year Close: 4272.82
Date: 2022-06-13 04:00:00+00:00, Predicted Next Year Close: 4459.06
Date: 2022-06-14 04:00:00+00:00, Predicted Next Year Close: 4668.01
Date: 2022-06-15 04:00:00+00:00, Predicted Next Year Close: 4428.66
Date: 2022-06-16 04:00:00+00:00, Predicted Next Year Close: 4615.71
Date: 2022-06-17 04:00:00+00:00, Predicted Next Year Close: 4550.43
Date: 2022-06-21 04:00:00+00:00, Predicted Next Year Close: 4674.78
Date: 2022-06-22 04:00:00+00:00, Predicted Next Year Close: 4625.55
Date: 2022-06-23 04:00:00+00:00, Predicted Next Year Close: 4667.22
Date: 2022-06-24 04:00:00+00:00, Predicted Next Year Close: 4354.09
Date: 2022-06-27 04:00:00+00:00, Predicted Next Year Close: 4326.41
Date: 2022-06-28 04:00:00+00:00, Predicted Next Year Close: 4302.18
Date: 2022-06-29 04:00:00+00:00, Predicted Next Year Close: 4428.35
Date: 2022-06-30 04:00:00+00:00, Predicted Next Year Close: 4684.49
Date: 2022-07-01 04:00:00+00:00, Predicted Next Year Close: 4507.97
Date: 2022-07-05 04:00:00+00:00, Predicted Next Year Close: 4525.27
Date: 2022-07-06 04:00:00+00:00, Predicted Next Year Close: 4331.15
Date: 2022-07-07 04:00:00+00:00, Predicted Next Year Close: 4382.40
Date: 2022-07-08 04:00:00+00:00, Predicted Next Year Close: 4416.14
Date: 2022-07-11 04:00:00+00:00, Predicted Next Year Close: 4424.53
Date: 2022-07-12 04:00:00+00:00, Predicted Next Year Close: 4452.56
Date: 2022-07-13 04:00:00+00:00, Predicted Next Year Close: 4604.72
Date: 2022-07-14 04:00:00+00:00, Predicted Next Year Close: 4641.26
Date: 2022-07-15 04:00:00+00:00, Predicted Next Year Close: 4483.45
Date: 2022-07-18 04:00:00+00:00, Predicted Next Year Close: 4428.52
Date: 2022-07-19 04:00:00+00:00, Predicted Next Year Close: 4434.06
Date: 2022-07-20 04:00:00+00:00, Predicted Next Year Close: 4443.76
Date: 2022-07-21 04:00:00+00:00, Predicted Next Year Close: 4368.69
Date: 2022-07-22 04:00:00+00:00, Predicted Next Year Close: 4490.96
Date: 2022-07-25 04:00:00+00:00, Predicted Next Year Close: 4262.58
Date: 2022-07-26 04:00:00+00:00, Predicted Next Year Close: 4451.38
Date: 2022-07-27 04:00:00+00:00, Predicted Next Year Close: 4547.53
Date: 2022-07-28 04:00:00+00:00, Predicted Next Year Close: 4128.01
Date: 2022-07-29 04:00:00+00:00, Predicted Next Year Close: 4143.63
Date: 2022-08-01 04:00:00+00:00, Predicted Next Year Close: 4285.19
Date: 2022-08-02 04:00:00+00:00, Predicted Next Year Close: 4106.39
Date: 2022-08-03 04:00:00+00:00, Predicted Next Year Close: 4157.31
Date: 2022-08-04 04:00:00+00:00, Predicted Next Year Close: 4106.24
Date: 2022-08-05 04:00:00+00:00, Predicted Next Year Close: 4399.92
Date: 2022-08-08 04:00:00+00:00, Predicted Next Year Close: 4131.30
Date: 2022-08-09 04:00:00+00:00, Predicted Next Year Close: 4366.94
Date: 2022-08-10 04:00:00+00:00, Predicted Next Year Close: 4044.14
Date: 2022-08-11 04:00:00+00:00, Predicted Next Year Close: 3997.07
Date: 2022-08-12 04:00:00+00:00, Predicted Next Year Close: 3845.23
Date: 2022-08-15 04:00:00+00:00, Predicted Next Year Close: 3822.38
Date: 2022-08-16 04:00:00+00:00, Predicted Next Year Close: 3880.75
Date: 2022-08-17 04:00:00+00:00, Predicted Next Year Close: 3841.29
Date: 2022-08-18 04:00:00+00:00, Predicted Next Year Close: 3832.95
Date: 2022-08-19 04:00:00+00:00, Predicted Next Year Close: 3820.35
Date: 2022-08-22 04:00:00+00:00, Predicted Next Year Close: 4332.92
Date: 2022-08-23 04:00:00+00:00, Predicted Next Year Close: 4335.27
Date: 2022-08-24 04:00:00+00:00, Predicted Next Year Close: 4370.07
Date: 2022-08-25 04:00:00+00:00, Predicted Next Year Close: 4079.83
Date: 2022-08-26 04:00:00+00:00, Predicted Next Year Close: 4226.04
Date: 2022-08-29 04:00:00+00:00, Predicted Next Year Close: 4527.57
Date: 2022-08-30 04:00:00+00:00, Predicted Next Year Close: 4392.61
Date: 2022-08-31 04:00:00+00:00, Predicted Next Year Close: 4247.84
Date: 2022-09-01 04:00:00+00:00, Predicted Next Year Close: 4292.45
Date: 2022-09-02 04:00:00+00:00, Predicted Next Year Close: 4384.31
Date: 2022-09-06 04:00:00+00:00, Predicted Next Year Close: 4341.46
Date: 2022-09-07 04:00:00+00:00, Predicted Next Year Close: 4541.29
Date: 2022-09-08 04:00:00+00:00, Predicted Next Year Close: 4608.09
Date: 2022-09-09 04:00:00+00:00, Predicted Next Year Close: 4454.66
Date: 2022-09-12 04:00:00+00:00, Predicted Next Year Close: 4473.52
Date: 2022-09-13 04:00:00+00:00, Predicted Next Year Close: 4328.84
Date: 2022-09-14 04:00:00+00:00, Predicted Next Year Close: 4344.40
Date: 2022-09-15 04:00:00+00:00, Predicted Next Year Close: 4293.11
Date: 2022-09-16 04:00:00+00:00, Predicted Next Year Close: 4347.57
Date: 2022-09-19 04:00:00+00:00, Predicted Next Year Close: 4393.31
Date: 2022-09-20 04:00:00+00:00, Predicted Next Year Close: 4391.63
Date: 2022-09-21 04:00:00+00:00, Predicted Next Year Close: 4429.25
Date: 2022-09-22 04:00:00+00:00, Predicted Next Year Close: 4585.63
Date: 2022-09-23 04:00:00+00:00, Predicted Next Year Close: 4653.72
Date: 2022-09-26 04:00:00+00:00, Predicted Next Year Close: 4602.87
Date: 2022-09-27 04:00:00+00:00, Predicted Next Year Close: 4766.87
Date: 2022-09-28 04:00:00+00:00, Predicted Next Year Close: 4636.00
Date: 2022-09-29 04:00:00+00:00, Predicted Next Year Close: 4636.00
Date: 2022-09-30 04:00:00+00:00, Predicted Next Year Close: 4623.28
Date: 2022-10-03 04:00:00+00:00, Predicted Next Year Close: 4680.72
Date: 2022-10-04 04:00:00+00:00, Predicted Next Year Close: 4621.49
Date: 2022-10-05 04:00:00+00:00, Predicted Next Year Close: 4584.98
Date: 2022-10-06 04:00:00+00:00, Predicted Next Year Close: 4446.68
Date: 2022-10-07 04:00:00+00:00, Predicted Next Year Close: 4584.06
Date: 2022-10-10 04:00:00+00:00, Predicted Next Year Close: 4574.21
Date: 2022-10-11 04:00:00+00:00, Predicted Next Year Close: 4633.72
Date: 2022-10-12 04:00:00+00:00, Predicted Next Year Close: 4514.52
Date: 2022-10-13 04:00:00+00:00, Predicted Next Year Close: 4561.21
Date: 2022-10-14 04:00:00+00:00, Predicted Next Year Close: 4490.09
Date: 2022-10-17 04:00:00+00:00, Predicted Next Year Close: 4543.74
Date: 2022-10-18 04:00:00+00:00, Predicted Next Year Close: 4541.61
Date: 2022-10-19 04:00:00+00:00, Predicted Next Year Close: 4590.68
Date: 2022-10-20 04:00:00+00:00, Predicted Next Year Close: 4435.12
Date: 2022-10-21 04:00:00+00:00, Predicted Next Year Close: 4630.82
Date: 2022-10-24 04:00:00+00:00, Predicted Next Year Close: 4603.55
Date: 2022-10-25 04:00:00+00:00, Predicted Next Year Close: 4534.14
Date: 2022-10-26 04:00:00+00:00, Predicted Next Year Close: 4519.39
Date: 2022-10-27 04:00:00+00:00, Predicted Next Year Close: 4533.88
Date: 2022-10-28 04:00:00+00:00, Predicted Next Year Close: 4399.82
Date: 2022-10-31 04:00:00+00:00, Predicted Next Year Close: 4493.71
Date: 2022-11-01 04:00:00+00:00, Predicted Next Year Close: 4458.16
Date: 2022-11-02 04:00:00+00:00, Predicted Next Year Close: 4423.43
Date: 2022-11-03 04:00:00+00:00, Predicted Next Year Close: 4671.49
Date: 2022-11-04 04:00:00+00:00, Predicted Next Year Close: 4549.06
Date: 2022-11-07 05:00:00+00:00, Predicted Next Year Close: 4546.35
Date: 2022-11-08 05:00:00+00:00, Predicted Next Year Close: 4545.20
Date: 2022-11-09 05:00:00+00:00, Predicted Next Year Close: 4653.57
Date: 2022-11-10 05:00:00+00:00, Predicted Next Year Close: 4203.46
Date: 2022-11-11 05:00:00+00:00, Predicted Next Year Close: 4198.69
Date: 2022-11-14 05:00:00+00:00, Predicted Next Year Close: 4261.43
Date: 2022-11-15 05:00:00+00:00, Predicted Next Year Close: 4101.89
Date: 2022-11-16 05:00:00+00:00, Predicted Next Year Close: 4394.79
Date: 2022-11-17 05:00:00+00:00, Predicted Next Year Close: 4427.34
Date: 2022-11-18 05:00:00+00:00, Predicted Next Year Close: 4427.70
Date: 2022-11-21 05:00:00+00:00, Predicted Next Year Close: 4393.70
Date: 2022-11-22 05:00:00+00:00, Predicted Next Year Close: 4502.58
Date: 2022-11-23 05:00:00+00:00, Predicted Next Year Close: 4446.46
Date: 2022-11-25 05:00:00+00:00, Predicted Next Year Close: 4516.70
Date: 2022-11-28 05:00:00+00:00, Predicted Next Year Close: 4362.32
Date: 2022-11-29 05:00:00+00:00, Predicted Next Year Close: 4269.66
Date: 2022-11-30 05:00:00+00:00, Predicted Next Year Close: 4158.27
Date: 2022-12-01 05:00:00+00:00, Predicted Next Year Close: 4289.51
Date: 2022-12-02 05:00:00+00:00, Predicted Next Year Close: 4447.02
Date: 2022-12-05 05:00:00+00:00, Predicted Next Year Close: 4295.50
Date: 2022-12-06 05:00:00+00:00, Predicted Next Year Close: 4301.63
Date: 2022-12-07 05:00:00+00:00, Predicted Next Year Close: 4450.18
Date: 2022-12-08 05:00:00+00:00, Predicted Next Year Close: 4441.39
Date: 2022-12-09 05:00:00+00:00, Predicted Next Year Close: 4512.74
Date: 2022-12-12 05:00:00+00:00, Predicted Next Year Close: 4458.70
Date: 2022-12-13 05:00:00+00:00, Predicted Next Year Close: 4145.78
Date: 2022-12-14 05:00:00+00:00, Predicted Next Year Close: 4308.92
Date: 2022-12-15 05:00:00+00:00, Predicted Next Year Close: 4293.05
Date: 2022-12-16 05:00:00+00:00, Predicted Next Year Close: 4374.00
Date: 2022-12-19 05:00:00+00:00, Predicted Next Year Close: 4616.88
Date: 2022-12-20 05:00:00+00:00, Predicted Next Year Close: 4526.67
Date: 2022-12-21 05:00:00+00:00, Predicted Next Year Close: 4465.74
Date: 2022-12-22 05:00:00+00:00, Predicted Next Year Close: 4406.72
Date: 2022-12-23 05:00:00+00:00, Predicted Next Year Close: 4630.24
Date: 2022-12-27 05:00:00+00:00, Predicted Next Year Close: 4547.78
Date: 2022-12-28 05:00:00+00:00, Predicted Next Year Close: 4578.52
Date: 2022-12-29 05:00:00+00:00, Predicted Next Year Close: 4675.58
Date: 2022-12-30 05:00:00+00:00, Predicted Next Year Close: 4581.65
Date: 2023-01-03 05:00:00+00:00, Predicted Next Year Close: 4397.89
Date: 2023-01-04 05:00:00+00:00, Predicted Next Year Close: 4314.41
Date: 2023-01-05 05:00:00+00:00, Predicted Next Year Close: 4583.49
Date: 2023-01-06 05:00:00+00:00, Predicted Next Year Close: 4497.44
Date: 2023-01-09 05:00:00+00:00, Predicted Next Year Close: 4433.66
Date: 2023-01-10 05:00:00+00:00, Predicted Next Year Close: 4374.28
Date: 2023-01-11 05:00:00+00:00, Predicted Next Year Close: 4412.07
Date: 2023-01-12 05:00:00+00:00, Predicted Next Year Close: 4393.87
Date: 2023-01-13 05:00:00+00:00, Predicted Next Year Close: 4383.69
Date: 2023-01-17 05:00:00+00:00, Predicted Next Year Close: 4339.73
Date: 2023-01-18 05:00:00+00:00, Predicted Next Year Close: 4328.63
Date: 2023-01-19 05:00:00+00:00, Predicted Next Year Close: 4474.46
Date: 2023-01-20 05:00:00+00:00, Predicted Next Year Close: 4404.46
Date: 2023-01-23 05:00:00+00:00, Predicted Next Year Close: 4422.17
Date: 2023-01-24 05:00:00+00:00, Predicted Next Year Close: 4451.75
Date: 2023-01-25 05:00:00+00:00, Predicted Next Year Close: 4438.91
Date: 2023-01-26 05:00:00+00:00, Predicted Next Year Close: 4546.31
Date: 2023-01-27 05:00:00+00:00, Predicted Next Year Close: 4511.77
Date: 2023-01-30 05:00:00+00:00, Predicted Next Year Close: 4409.37
Date: 2023-01-31 05:00:00+00:00, Predicted Next Year Close: 4191.55
Date: 2023-02-01 05:00:00+00:00, Predicted Next Year Close: 4080.53
Date: 2023-02-02 05:00:00+00:00, Predicted Next Year Close: 4108.30
Date: 2023-02-03 05:00:00+00:00, Predicted Next Year Close: 4205.34
Date: 2023-02-06 05:00:00+00:00, Predicted Next Year Close: 4325.13
Date: 2023-02-07 05:00:00+00:00, Predicted Next Year Close: 4301.69
Date: 2023-02-08 05:00:00+00:00, Predicted Next Year Close: 4249.87
Date: 2023-02-09 05:00:00+00:00, Predicted Next Year Close: 4101.16
Date: 2023-02-10 05:00:00+00:00, Predicted Next Year Close: 4651.55
Date: 2023-02-13 05:00:00+00:00, Predicted Next Year Close: 4348.08
Date: 2023-02-14 05:00:00+00:00, Predicted Next Year Close: 4391.93
Date: 2023-02-15 05:00:00+00:00, Predicted Next Year Close: 4245.49
Date: 2023-02-16 05:00:00+00:00, Predicted Next Year Close: 4260.81
Date: 2023-02-17 05:00:00+00:00, Predicted Next Year Close: 4438.05
Date: 2023-02-21 05:00:00+00:00, Predicted Next Year Close: 4428.50
Date: 2023-02-22 05:00:00+00:00, Predicted Next Year Close: 4415.49
Date: 2023-02-23 05:00:00+00:00, Predicted Next Year Close: 4473.86
Date: 2023-02-24 05:00:00+00:00, Predicted Next Year Close: 4455.62
Date: 2023-02-27 05:00:00+00:00, Predicted Next Year Close: 4514.50
Date: 2023-02-28 05:00:00+00:00, Predicted Next Year Close: 4217.88
Date: 2023-03-01 05:00:00+00:00, Predicted Next Year Close: 4240.05
Date: 2023-03-02 05:00:00+00:00, Predicted Next Year Close: 4192.45
Date: 2023-03-03 05:00:00+00:00, Predicted Next Year Close: 4476.33
Date: 2023-03-06 05:00:00+00:00, Predicted Next Year Close: 4420.27
Date: 2023-03-07 05:00:00+00:00, Predicted Next Year Close: 4451.95
Date: 2023-03-08 05:00:00+00:00, Predicted Next Year Close: 4587.78
Date: 2023-03-09 05:00:00+00:00, Predicted Next Year Close: 4252.64
Date: 2023-03-10 05:00:00+00:00, Predicted Next Year Close: 4326.71
Date: 2023-03-13 04:00:00+00:00, Predicted Next Year Close: 4311.43
Date: 2023-03-14 04:00:00+00:00, Predicted Next Year Close: 4280.82
Date: 2023-03-15 04:00:00+00:00, Predicted Next Year Close: 4312.08
Date: 2023-03-16 04:00:00+00:00, Predicted Next Year Close: 4178.55
Date: 2023-03-17 04:00:00+00:00, Predicted Next Year Close: 4247.47
Date: 2023-03-20 04:00:00+00:00, Predicted Next Year Close: 4310.07
Date: 2023-03-21 04:00:00+00:00, Predicted Next Year Close: 4151.70
Date: 2023-03-22 04:00:00+00:00, Predicted Next Year Close: 4334.02
Date: 2023-03-23 04:00:00+00:00, Predicted Next Year Close: 4250.44
Date: 2023-03-24 04:00:00+00:00, Predicted Next Year Close: 4483.08
Date: 2023-03-27 04:00:00+00:00, Predicted Next Year Close: 4268.75
Date: 2023-03-28 04:00:00+00:00, Predicted Next Year Close: 4431.46
Date: 2023-03-29 04:00:00+00:00, Predicted Next Year Close: 4266.46
Date: 2023-03-30 04:00:00+00:00, Predicted Next Year Close: 4390.22
Date: 2023-03-31 04:00:00+00:00, Predicted Next Year Close: 4261.53
Date: 2023-04-03 04:00:00+00:00, Predicted Next Year Close: 4231.35
Date: 2023-04-04 04:00:00+00:00, Predicted Next Year Close: 4175.66
Date: 2023-04-05 04:00:00+00:00, Predicted Next Year Close: 4542.91
Date: 2023-04-06 04:00:00+00:00, Predicted Next Year Close: 4461.15
Date: 2023-04-10 04:00:00+00:00, Predicted Next Year Close: 4412.24
Date: 2023-04-11 04:00:00+00:00, Predicted Next Year Close: 4332.30
Date: 2023-04-12 04:00:00+00:00, Predicted Next Year Close: 4424.02
Date: 2023-04-13 04:00:00+00:00, Predicted Next Year Close: 4379.37
Date: 2023-04-14 04:00:00+00:00, Predicted Next Year Close: 4291.04
Date: 2023-04-17 04:00:00+00:00, Predicted Next Year Close: 4354.50
Date: 2023-04-18 04:00:00+00:00, Predicted Next Year Close: 4292.61
Date: 2023-04-19 04:00:00+00:00, Predicted Next Year Close: 4207.64
Date: 2023-04-20 04:00:00+00:00, Predicted Next Year Close: 4398.97
Date: 2023-04-21 04:00:00+00:00, Predicted Next Year Close: 4404.40
Date: 2023-04-24 04:00:00+00:00, Predicted Next Year Close: 4353.09
Date: 2023-04-25 04:00:00+00:00, Predicted Next Year Close: 4423.54
Date: 2023-04-26 04:00:00+00:00, Predicted Next Year Close: 4502.53
Date: 2023-04-27 04:00:00+00:00, Predicted Next Year Close: 4374.38
Date: 2023-04-28 04:00:00+00:00, Predicted Next Year Close: 4418.66
Date: 2023-05-01 04:00:00+00:00, Predicted Next Year Close: 4224.92
Date: 2023-05-02 04:00:00+00:00, Predicted Next Year Close: 4085.03
Date: 2023-05-03 04:00:00+00:00, Predicted Next Year Close: 4042.08
Date: 2023-05-04 04:00:00+00:00, Predicted Next Year Close: 4079.14
Date: 2023-05-05 04:00:00+00:00, Predicted Next Year Close: 4094.82
Date: 2023-05-08 04:00:00+00:00, Predicted Next Year Close: 4389.73
Date: 2023-05-09 04:00:00+00:00, Predicted Next Year Close: 4466.41
Date: 2023-05-10 04:00:00+00:00, Predicted Next Year Close: 4236.60
Date: 2023-05-11 04:00:00+00:00, Predicted Next Year Close: 4372.05
Date: 2023-05-12 04:00:00+00:00, Predicted Next Year Close: 4434.00
Date: 2023-05-15 04:00:00+00:00, Predicted Next Year Close: 4275.63
Date: 2023-05-16 04:00:00+00:00, Predicted Next Year Close: 4398.99
Date: 2023-05-17 04:00:00+00:00, Predicted Next Year Close: 4379.08
Date: 2023-05-18 04:00:00+00:00, Predicted Next Year Close: 4137.10
Date: 2023-05-19 04:00:00+00:00, Predicted Next Year Close: 4096.60
Date: 2023-05-22 04:00:00+00:00, Predicted Next Year Close: 4109.23
Date: 2023-05-23 04:00:00+00:00, Predicted Next Year Close: 4187.50
Date: 2023-05-24 04:00:00+00:00, Predicted Next Year Close: 4405.61
Date: 2023-05-25 04:00:00+00:00, Predicted Next Year Close: 4093.47
Date: 2023-05-26 04:00:00+00:00, Predicted Next Year Close: 3987.47
Date: 2023-05-30 04:00:00+00:00, Predicted Next Year Close: 3985.60
Date: 2023-05-31 04:00:00+00:00, Predicted Next Year Close: 3852.01
Date: 2023-06-01 04:00:00+00:00, Predicted Next Year Close: 4090.82
Date: 2023-06-02 04:00:00+00:00, Predicted Next Year Close: 3870.09